# Raw, non-gzipped data
*.raw_dereplicated.fasta
*.otu_table.100.denovo_oligotypes
*.otu_table.100.denovo
*.otu_seqs.100.fasta
*.otu_table.100.denovo.rdp_assigned

*.otu_table.97.denovo_oligotypes
*.otu_table.97.denovo
*.otu_seqs.97.fasta
*.otu_table.97.denovo.rdp_assigned

quality_control/
GG/

RDP_classifications.denovo.100.txt
RDP_classifications.denovo.97.txt
*.otu_table.100.denovo.rdp_assigned
*.otu_table.97.denovo.rdp_assigned

# QIIME output files (just re-make if needed...)
*.qzv
*.qza
deblur.log

# These Hsiao files are gzipped before committed
hsiao.dna-sequences.fasta
hsiao.feature_table.txt
hsiao.taxonomy.tsv

# Annoying files
*~
~$*
~$inline-supplementary-material-3.xlsx
.DS_Store
.ipynb_checkpoints

# Too large
16_1028_BN10_openbiome_MxP.xlsx